h1 
	font-size: 80px
	letter-spacing: 13px
	text-transform: uppercase
	color: white
	margin: 0
	padding: 40px
	text-align: center
body 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3f4ff+0,d3ffe7+28,fdeaff+43,f5ffcc+66,e8ffff+100 */
	background: #333
	//background: -moz-linear-gradient(-45deg, #d3f4ff 0%, #d3ffe7 28%, #f5ffcc 66%, #e8ffff 100%) // FF3.6-15 
	//background: -webkit-linear-gradient(-45deg, #d3f4ff 0%,#d3ffe7 28%,#f5ffcc 66%,#e8ffff 100%) // Chrome10-25,Safari5.1-6 
	//background: linear-gradient(135deg, #d3f4ff 0%,#d3ffe7 28%,#f5ffcc 66%,#e8ffff 100%) // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f4ff', endColorstr='#e8ffff',GradientType=1 ) //* IE6-9 fallback on horizontal gradient */